<!-- //Name ->Drashya Patel
//Student ID -> 100863337
//Date: April 19th 2024 -->
<%- include('../includes/main') %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Zoo Name</th>
      <th scope="col">Scientific Name</th>
      <th scope="col">Common Name</th>
      <th scope="col">Given Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Age</th>
      <th scope="col">Transportable</th>
    </tr>
  </thead>
  <tbody>
    <% animals.forEach(function(animal) { %>
    <tr>
      <td><%= animal.Zoo %></td>
      <td><%= animal.scientificName %></td>
      <td><%= animal.commonName %></td>
      <td><%= animal.givenName %></td>
      <td><%= animal.gender %></td>
      <td><%= animal.dateOfBirth %></td>
      <td><%= animal.age %></td>
      <td><%= animal.isTransportable %></td>
      <td>
        <!-- actions/buttons -->
        <a href="/<%= animal._id %>/edit" class="btn btn-primary btn-sm">Edit</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../includes/end') %>
